header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ================== CTA ================== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ================== SOCIALS ================== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ================== ANIMATION ================== */

.container-animation {
  position: relative;
  bottom: -180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-animation .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-animation .ring::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11,
    0 0 20px #24ecff, 0 0 50px #24ecff;
}

.container-animation .ring:nth-child(2) {
  animation: animate2 4s linear infinite;
  animation-delay: -1s;
  border-top: 4px solid transparent;
  border-left: 4px solid #93ff2d;
}

.container-animation .ring:nth-child(2)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #93ff2d;
  box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d, 0 0 50px #93ff2d;
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container-animation .ring:nth-child(3) {
  animation: animate2 4s linear infinite;
  animation-delay: -3s;
  position: absolute;
  top: -66.66px;
  border-top: 4px solid transparent;
  border-left: 4px solid #e41cf8;
}

.container-animation .ring:nth-child(3)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #e41cf8;
  box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}

/* ================== SCROLL DOWN ================== */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ================== */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    padding-top: 4rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }

  .container-animation {
    bottom: -140px;
  }
}
